.j-modal-bg{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 10;
    .j-modal-box{
        font-size: 14px;
        position: absolute;
        width: 500px;
        &.large{
            width: 80%;
        }
        @media screen and (max-width:500px){
            width: 80%;
        }
        background-color: #ffffff;
        border-radius: 8px;
        top: 50vh;
        left: 50vw;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        .modal-close{
            position: absolute;
            right: 10px;
            top:10px;
            cursor: pointer;
            &:hover{
                color: #333333;
            }
        }
        .j-modal-header{
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid #e9ebed;
        }
        .j-modal-body{
            width: 100%;
            padding: 10px;
        }
        .j-modal-footer{
            width: 100%;
            padding: 10px;
            border-top: 1px solid #e9ebed;
        }
    }
}
