
ul, .tree {
    list-style-type: none;
  }

  
      li{
          cursor: pointer;
      }
  
  .tree {
    margin: 0;
    padding: 0;
  }
  
  .carets {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .carets::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .carets-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
    margin-left: 15px;
  }
  
  .active {
    display: block;
  }