* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
.j-container{
    width: 100vw;
    height: calc(100vh - 75px);
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .treeView{
        float: left;
        width: 250px;
        height: calc(100vh - 75px);
        overflow: scroll;
    }
    .description{
        float: left;
        width: calc(100vw - 250px);
        height: calc(100vh - 75px);
        padding: 10px;
        overflow: scroll;
        .manage-nodes{
            padding: 10px;
            width: 100%;
            border-bottom: 1px solid silver;
        }
    }
}
.parameter{
    font-style: italic;
    font-size: 12px;
}
.indent-1 {
    text-indent: 25px;
}
.indent-2 {
    text-indent: 50px;
}



@import 'modal';
@import 'tree_view';