* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.j-container {
  width: 100vw;
  height: calc(100vh - 75px);
}

.j-container:after {
  content: "";
  display: table;
  clear: both;
}

.j-container .treeView {
  float: left;
  width: 250px;
  height: calc(100vh - 75px);
  overflow: scroll;
}

.j-container .description {
  float: left;
  width: calc(100vw - 250px);
  height: calc(100vh - 75px);
  padding: 10px;
  overflow: scroll;
}

.j-container .description .manage-nodes {
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid silver;
}

.parameter {
  font-style: italic;
  font-size: 12px;
}

.indent-1 {
  text-indent: 25px;
}

.indent-2 {
  text-indent: 50px;
}

.j-modal-bg {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.j-modal-bg .j-modal-box {
  font-size: 14px;
  position: absolute;
  width: 500px;
  background-color: #ffffff;
  border-radius: 8px;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.j-modal-bg .j-modal-box.large {
  width: 80%;
}

@media screen and (max-width: 500px) {
  .j-modal-bg .j-modal-box {
    width: 80%;
  }
}

.j-modal-bg .j-modal-box .modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.j-modal-bg .j-modal-box .modal-close:hover {
  color: #333333;
}

.j-modal-bg .j-modal-box .j-modal-header {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #e9ebed;
}

.j-modal-bg .j-modal-box .j-modal-body {
  width: 100%;
  padding: 10px;
}

.j-modal-bg .j-modal-box .j-modal-footer {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #e9ebed;
}

ul, .tree {
  list-style-type: none;
}

.tree {
  margin: 0;
  padding: 0;
}

.carets {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

.carets::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.carets-down::before {
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari */
  transform: rotate(90deg);
}

.nested {
  display: none;
  margin-left: 6px;
}

.active {
  display: block;
}
/*# sourceMappingURL=style.css.map */